In [1]:
import pandas as pd
import glob

In [2]:
a=["CordAscent","LambdaMART","LambdaRank","LinearReg","ListNet","MART","RandomFor","RankBoost","RankNet"]
b=[
"./chart1_data.csv",
"./chart2_data.csv",
"./chart3_data.csv",
"./chart4_data.csv",
"./chart5_data.csv",
"./chart6_data.csv",
"./chart7_data.csv",
"./chart8_data.csv",
"./chart9_data.csv",
]

In [3]:
temp=[]
for i in range(9):   
    try:
        df=pd.read_csv(b[i],index_col=0)
        df['model']=a[i]
        temp.append(df)
    except:
        print(i)

4

In [4]:
merged=pd.concat(temp);

In [5]:
merged['model'].unique()

array(['CordAscent', 'LambdaMART', 'LambdaRank', 'LinearReg', 'MART',
       'RandomFor', 'RankBoost', 'RankNet'], dtype=object)

In [6]:
merged.to_csv("lime_fiscal.csv")

# Remove extra columns

In [7]:
import pandas as pd
import glob
df=pd.read_csv('lime_fiscal.csv',index_col=0)

In [8]:
for j in df.columns:
    if "feature_rank" in j:
        df.drop(j,axis=1,inplace=True)

In [9]:
df

,1-qid,two_realRank,two_realRank2,State,CordAscent,country,teaching,international,research,citations,...,student_staff_ratio_contribution,teaching_contribution,model,LambdaMART,LambdaRank,LinearReg,MART,RandomFor,RankBoost,RankNet
0,2011,167,167.0,Aarhus University,133.0,Denmark,38.1,33.40000,55.6,57.3,...,-8.390714e-03,1.685774e-03,CordAscent,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011,147,147.0,Alexandria University,144.0,Egypt,29.5,19.30000,28.0,99.8,...,3.042261e-02,-1.917207e-02,CordAscent,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011,162,161.0,Arizona State University,97.0,USA,43.0,24.10000,44.1,66.9,...,3.020513e-02,4.992283e-03,CordAscent,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011,43,43.0,Australian National University,17.0,Australia,51.9,93.90000,62.4,81.0,...,-5.843140e-04,5.346403e-02,CordAscent,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011,173,173.0,Bielefeld University,6.0,Germany,39.9,52.00744,35.7,70.4,...,3.422070e-02,2.127015e-03,CordAscent,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2598,2016,48,54.0,École Normale Supérieure,NaN,France,70.6,85.50000,47.7,87.1,...,0.000000e+00,0.000000e+00,RankNet,NaN,NaN,NaN,NaN,NaN,NaN,85.0
2599,2016,150,201.0,École Normale Supérieure de Lyon,NaN,France,41.6,65.60000,30.0,69.0,...,0.000000e+00,0.000000e+00,RankNet,NaN,NaN,NaN,NaN,NaN,NaN,284.0
2600,2016,739,NaN,École Polytechnique,NaN,France,53.5,92.80000,44.6,64.7,...,0.000000e+00,0.000000e+00,RankNet,NaN,NaN,NaN,NaN,NaN,NaN,107.0
2601,2016,31,31.0,École Polytechnique Fédérale de Lausanne,NaN,Switzerland,61.3,98.60000,67.5,94.6,...,3.000000e-32,-4.800000e-32,RankNet,NaN,NaN,NaN,NaN,NaN,NaN,1.0
2602,2016,219,301.0,Örebro University,NaN,Sweden,18.3,39.40000,10.4,87.8,...,-2.700000e-32,1.900000e-32,RankNet,NaN,NaN,NaN,NaN,NaN,NaN,350.0