In [1]:
import pandas as pd
import glob

In [2]:
a=["CordAscent","LambdaMART","LambdaRank","LinearReg","ListNet","MART","RandomFor","RankBoost","RankNet"]
b=[
"./chart1_data.csv",
"./chart2_data.csv",
"./chart3_data.csv",
"./chart4_data.csv",
"./chart5_data.csv",
"./chart6_data.csv",
"./chart7_data.csv",
"./chart8_data.csv",
"./chart9_data.csv",
]

In [3]:
temp=[]
for i in range(9):   
    try:
        df=pd.read_csv(b[i],index_col=0)
        df['model']=a[i]
        temp.append(df)
    except:
        print(i)

In [4]:
merged=pd.concat(temp);

E:\00_Installed_programs\anaconda\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

# Remove extra columns

In [5]:
import pandas as pd
import glob

In [6]:
for j in merged.columns:
    if "feature_rank" not in j and "1-qid" not in j and "model" not in j:
        merged.drop(j,axis=1,inplace=True)

In [7]:
merged

      1-qid       model
0      2006  CordAscent
1      2006  CordAscent
2      2006  CordAscent
3      2006  CordAscent
4      2006  CordAscent
...     ...         ...
1115   2010     RankNet
1116   2010     RankNet
1117   2010     RankNet
1118   2010     RankNet
1119   2010     RankNet

[10080 rows x 2 columns]

In [8]:
df.columns

Index(['1-qid', 'two_realRank', 'two_realRank2', 'State', 'RankNet',
       '1stFlrSF', '2ndFlrSF', '3SsnPorch', 'Alley', 'BedroomAbvGr',
       ...
       'SaleType_rank', 'ScreenPorch_rank', 'Street_rank', 'TotRmsAbvGrd_rank',
       'TotalBsmtSF_rank', 'Utilities_rank', 'WoodDeckSF_rank',
       'YearBuilt_rank', 'YearRemodAdd_rank', 'model'],
      dtype='object', length=162)

In [9]:
merged.to_csv('house_rank.csv',index=False)